.mediaViewInfo {
	--web-view-name: Шесть;
	--web-view-id: ;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
# {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(238,238,238,1);
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Шесть;
	--web-view-id: ;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#_1_c {
	fill: rgba(245,245,245,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_c {
	position: absolute;
	overflow: visible;
	width: 1211px;
	height: 86px;
	left: 365px;
	top: 80px;
}
#_dc {
	left: 857.5px;
	top: 97.5px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#_2_db {
	fill: rgba(245,245,245,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2_db {
	position: absolute;
	overflow: visible;
	width: 1211px;
	height: 186px;
	left: 365px;
	top: 185px;
}
#_________________ {
	left: 385.5px;
	top: 200.5px;
	position: absolute;
	overflow: visible;
	width: 1171px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#_8 {
	fill: rgba(245,245,245,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._8 {
	position: absolute;
	overflow: visible;
	width: 590px;
	height: 354px;
	left: 365px;
	top: 392px;
	transition: all 0s linear;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: 7.html;
	cursor: pointer;
}
#____B_____________________ {
	left: 376.5px;
	top: 413.5px;
	position: absolute;
	overflow: visible;
	width: 569px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#_9 {
	fill: rgba(245,245,245,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._9 {
	position: absolute;
	overflow: visible;
	width: 590px;
	height: 354px;
	left: 986px;
	top: 392px;
	transition: all 0s linear;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: 8.html;
	cursor: pointer;
}
#______________________ {
	left: 998.5px;
	top: 439.5px;
	position: absolute;
	overflow: visible;
	width: 567px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#_3_dh {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3_dh {
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 248px;
	left: 765px;
	top: 815px;
}
#_1_di {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_di {
	overflow: visible;
	position: absolute;
	width: 85.001px;
	height: 186.914px;
	left: 928px;
	top: 845.543px;
	transform: matrix(1,0,0,1,0,0);
}
#_4_dj {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._4_dj {
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 248px;
	left: 928px;
	top: 815px;
}
#A_dk {
	left: 817.5px;
	top: 902.5px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(0,0,0,1);
}
#B_dl {
	left: 1091.5px;
	top: 902.5px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(0,0,0,1);
}
#_25 {
	fill: rgba(79,64,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._25 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 86px;
	left: 29px;
	top: 80px;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#_dn {
	left: 50px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#_26 {
	fill: rgba(79,64,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._26 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 86px;
	left: 29px;
	top: 186px;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 1.html;
	cursor: pointer;
}
#_dp {
	left: 50px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#_27 {
	fill: rgba(79,64,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._27 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 86px;
	left: 29px;
	top: 292px;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 2.html;
	cursor: pointer;
}
#-_-_dr {
	left: 50px;
	top: 309.5px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#_28 {
	fill: rgba(79,64,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._28 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 86px;
	left: 29px;
	top: 399px;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 3.html;
	cursor: pointer;
}
#_dt {
	left: 50px;
	top: 416.5px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#_29 {
	fill: rgba(79,64,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._29 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 86px;
	left: 29px;
	top: 506px;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 4.html;
	cursor: pointer;
}
#_dv {
	left: 50px;
	top: 523.5px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#_30 {
	fill: rgba(79,64,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._30 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 86px;
	left: 29px;
	top: 613px;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: 5.html;
	cursor: pointer;
}
#__dx {
	left: 50px;
	top: 630.5px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}